<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" href="../img/favicon.ico" />
<title>My Books 3</title>
<link rel="stylesheet" href="../../../../../target/generated-resources/static/css/bundle.css" />
<link rel="stylesheet" href="../../static/css/custom.css" />
</head>

<body>

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> 
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="../home.html" title="MyBooks3">MyBooks3</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
        		<ul class="nav navbar-nav navbar-right">		
					<li><a href="../books/list.html">Books</a></li>
					<li><a href="./view.html">My Profile</a></li>
					<li><a href="./list.html">Admin</a></li>
					<li><a href="../login.html">Logout</a></li>				
          		</ul>
        	</div>
		</div>
	</nav>    
	
	<div class="container">

		<br/>
		
		<div th:fragment="content" class="container-form-style">
	
			<ol class="breadcrumb">
				<li><a href="../home.html" th:href="@{#/home}">Home</a></li>
				<li class="active">My Profile</li>
			</ol>
			
			<form name='readerForm' role="form" novalidate="" ng-submit="update()">

				<div class="row container-form-style">	
					<h2 class="sub-header pull-left">Reader Edit</h2> 
					<div class="btn-toolbar pull-right">
						<button type="submit" ng-disabled='readerForm.$invalid' class="btn btn-primary">Save</button>
						<button type="reset" class="btn">Reset</button>
					</div>
				</div>
				
				<div class="form-group">
					<label for="firstName">First Name</label> 
					<input type="text" class="form-control" id="firstName" name="firstName" ng-model="reader.firstName" />
				</div>		
				<div class="form-group">
					<label for="lastName">Last Name</label> 
					<input type="text" class="form-control" id="lastName" name="lastName" ng-model="reader.lastName" />
				</div>
				<div class="form-group">
					<label for="username">Username</label> 
					<input type="text" class="form-control" id="username" name="username" ng-model="reader.username" required="" />
					<span class='help-block' ng-show='readerForm.username.$error.required'>Username is required</span>
				</div>
				<div class="form-group">
					<label for="email">Email</label> 
					<input type="email" class="form-control" id="email" name="email" ng-model="reader.email" required="" />
					<span class='help-block' ng-show='readerForm.email.$error.required'>Email is required</span>
					<span class='help-block' ng-show="readerForm.email.$error.email">Invalid email address.</span>
				</div>
				<div class="form-group">
					<label for="password">Password</label> 
					<input type="password" class="form-control" id="password" name="password" ng-model="reader.password" required="" ng-minlength="3" />
					<span class='help-block' ng-show='readerForm.password.$error.required'>Password is required</span>
					<span class='help-block' ng-show='readerForm.password.$error.minlength'>Too short</span>
				</div>
				<div class="form-group">
					<label for="confirmPassword">Confirm Password</label> 
					<input type="password" class="form-control" id="confirmPassword" name="confirmPassword" ng-model="reader.confirmPassword" required="" compare-to="reader.password"/>
					<span class='help-block' ng-show='readerForm.confirmPassword.$error.required'>Confirm Password is required</span>
					<span class='help-block' ng-show='readerForm.confirmPassword.$error.compareTo'>Must match the previous entry</span>					
				</div>

			</form>
			
		</div>

	</div>

	<script src="../../../../../target/generated-resources/static/js/bundle.js"></script>
	<script src="../../static/js/app.js"></script>

</body>
</html>
