<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" href="../img/favicon.ico" />
<title>My Books 3</title>
<link rel="stylesheet" href="../../../../../target/generated-resources/static/css/bundle.css" />
<link rel="stylesheet" href="../../static/css/custom.css" />
</head>

<body>

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> 
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="../home.html" title="MyBooks3">MyBooks3</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
        		<ul class="nav navbar-nav navbar-right">		
					<li><a href="./list.html">Books</a></li>
					<li><a href="../readers/view.html">My Profile</a></li>
					<li><a href="../readers/list.html">Admin</a></li>
					<li><a href="../login.html">Logout</a></li>				
          		</ul>
        	</div>
		</div>
	</nav>    
	
	<div class="container">
	
		<br/>

		<div th:fragment="content" class="container-form-style">
		
			<ol class="breadcrumb">
				<li><a href="../home.html" th:href="@{#/home}">Home</a></li>
				<li class="active">Search Readers</li>
			</ol>	
			<div class="jumbotron">	
				<div class="form-group row">
	                <div class="col-md-10">
	                    <input type="text" class="form-control" id="keyword" placeholder="Keyword" ng-model="keyword"/>
	                </div>
	                <div class="col-md-2">
<!-- 	                	<a href="./search.html" th:href="@{#/readers/search}" class="btn btn-primary">Search</a> -->
	                	<a ng-click="search()" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></a>
	                </div>
            	</div>
			</div>

			
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Username</th>
							<th>Email</th>
						</tr>
					</thead>
					<tbody th:remove="all-but-first">
						<tr ng-repeat="reader in page.content" ng-click="showView(reader.id)">
							<td th:text="'{{reader.firstName}}'">First Name 1</td>
							<td th:text="'{{reader.lastName}}'">Last Name 1</td>
							<td th:text="'{{reader.username}}'">Username 1</td>
							<td th:text="'{{reader.email}}'">Email 1</td>
						</tr>
						<tr th:onclick="'document.location = \'#/readers/view\';'" onclick="document.location = './view.html';">
							<td>First Name 2</td>
							<td>Last Name 2</td>
							<td>Username 2</td>
							<td>Email 2</td>
						</tr>
						<tr th:onclick="'document.location = \'#/readers/view\';'" onclick="document.location = './view.html';">
							<td>First Name 3</td>
							<td>Last Name 3</td>
							<td>Username 3</td>
							<td>Email 3</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<ul class="pagination" ng-show="page.totalPages > 1">
		         <li ng-show="page.number == 0" class="disabled"><a>&#8810;</a></li>
		         <li ng-show="page.number == 0" class="disabled"><a>&#60;</a></li>
		         <li ng-show="page.number != 0"><a href="javascript:void(0)" ng-click="getPage(0)">&#8810;</a></li>
		         <li ng-show="page.number != 0"><a href="javascript:void(0)" ng-click="getPage(page.number-1)">&#60;</a></li>
		  
		         <li ng-repeat="i in range" ng-class="{active : page.number == i}">
		             <a href="javascript:void(0)" ng-click="getPage(i)">{{i + 1}}</a>
		         </li>
		  
		         <li ng-show="page.number == page.totalPages - 1" class="disabled"><a>&#62;</a></li>
		         <li ng-show="page.number == page.totalPages - 1" class="disabled"><a>&#8811;</a></li>
		         <li ng-show="page.number != page.totalPages - 1"><a href="javascript:void(0)" ng-click="getPage(page.number + 1)">&#62;</a></li>
		         <li ng-show="page.number != page.totalPages - 1"><a href="javascript:void(0)" ng-click="getPage(page.totalPages - 1)">&#8811;</a></li>
			</ul>
									
		</div>



	</div>

	<script src="../../../../../target/generated-resources/static/js/bundle.js"></script>
	<script src="../../static/js/app.js"></script>

</body>
</html>

