<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" href="./img/favicon.ico" />
<title>My Books 3</title>
<link rel="stylesheet" href="../../../../target/generated-resources/static/css/bundle.css" />
<link rel="stylesheet" href="../static/css/custom.css" />
</head>

<body ng-app="hello">

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> 
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="home.html" title="MyBooks3">MyBooks3</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
        		<ul class="nav navbar-nav navbar-right">
					<li><a href="books/list.html">Books</a></li>
					<li><a href="readers/view.html">My Profile</a></li>
					<li><a href="readers/list.html">Admin</a></li>
					<li><a href="register.html">Register</a></li>
					<li><a href="login.html">Login/Logout</a></li>				
          		</ul>
        	</div>
		</div>
	</nav>

	<div class="container">

		<br/>

		<div th:fragment="content">
		
			<div class="jumbotron">
				<h1>MyBooks3</h1>
				<p>Your book collection.</p>
			</div>
		
			<div ng-show="currentReader">
				<p>Hello Reader!</p>
				<p>The ID is {{greeting.id}}</p>
				<p>The content is {{greeting.content}}</p>
			</div>
			<div ng-show="!currentReader">
				<p>Welcome to MyBooks3</p>
				<p>Login to see your greeting</p>
			</div>
		</div>


	</div>

	<script src="../../../../target/generated-resources/static/js/bundle.js"></script>
	<script src="../static/js/app.js"></script>

</body>
</html>