<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="icon" th:href="@{/img/favicon.ico}" href="../static/img/favicon.ico"/>
<title th:text="#{app.name}">List of Books</title>
<link rel="stylesheet" th:href="@{/css/bundle.css}" href="../static/css/bundle.css" />
<link rel="stylesheet" th:href="@{/css/custom.css}" href="../static/css/custom.css" />

<style type="text/css">
[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}

</style>
<script th:inline="javascript">
        /*<![CDATA[*/
        var URLS = {};
        
        URLS.home = /*[[@{/home}]]*/ '/home.html';
        URLS.login = /*[[@{/login}]]*/ '/login.html';
        URLS.register = /*[[@{/register}]]*/ '/register';
        
        URLS.booksRest = /*[[@{/rest/books/:id}]]*/ '/books/rest';
        URLS.booksList = /*[[@{/books/list}]]*/ '/books/list';
        URLS.booksEdit = /*[[@{/books/edit}]]*/ '/books/edit';
        URLS.booksCreate = /*[[@{/books/create}]]*/ '/books/create';
        
        /*]]>*/
    </script>
</head>

<body ng-app="hello" ng-cloak="" class="ng-cloak">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container" ng-controller="navigation">
      	<div class="navbar-header">
        	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            	<span class="sr-only">Toggle navigation</span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
          	</button>
          	<a class="navbar-brand" href="/" title="MyBooks3">MyBooks3</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        	<ul class="nav navbar-nav navbar-right">		
				<li><a href="#/books/list">Books</a></li>
				<li><a href="#/">My Profile</a></li>
				<li><a href="#/">Admin</a></li>
				<li><a href="#/login">Login</a></li>
				<li><a href="#/register">Register</a></li>
				<li ng-show="authenticated"><a href="" ng-click="logout()">Logout</a></li>				
          	</ul>
        </div>
      </div>
    </nav>

	<div class="container">
		<br/>
		<div ng-view=""></div>
	</div>
	
	<script th:src="@{/js/bundle.js}" src="../static/js/bundle.js"></script>
	<script th:src="@{/js/app.js}" src="../static/js/app.js"></script>

</body>
</html>
