<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="icon" th:href="@{/img/favicon.ico}" href="../static/img/favicon.ico"/>
<title th:text="#{app.name}">List of Books</title>
<link rel="stylesheet" th:href="@{/css/bundle.css}" href="../static/css/bundle.css" />
<link rel="stylesheet" th:href="@{/css/custom.css}" href="../static/css/custom.css" />

<style type="text/css">
[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}

</style>
<script th:inline="javascript">
        /*<![CDATA[*/
        var URLS = {};
        
        URLS.home = /*[[@{/home}]]*/ '/home';
        URLS.login = /*[[@{/login}]]*/ '/login';
        URLS.register = /*[[@{/register}]]*/ '/register';
        URLS.forgotten_password = /*[[@{/forgotten_password}]]*/ '/forgotten_password';
        
        URLS.profilesRest = /*[[@{/rest/profiles/:id}]]*/ '/profiles/rest';
        URLS.profilesView = /*[[@{/profiles/view}]]*/ '/profiles/view';
        URLS.profilesEdit = /*[[@{/profiles/edit}]]*/ '/profiles/edit';
        
        URLS.booksRest = /*[[@{/rest/books/:id}]]*/ '/books/rest';
        URLS.booksList = /*[[@{/books/list}]]*/ '/books/list';
        URLS.booksSearch = /*[[@{/books/search}]]*/ '/books/search';
        URLS.booksView = /*[[@{/books/view}]]*/ '/books/view';
        URLS.booksEdit = /*[[@{/books/edit}]]*/ '/books/edit';
        URLS.booksCreate = /*[[@{/books/create}]]*/ '/books/create';
        
        URLS.notesRest = /*[[@{/rest/notes/:id}]]*/ '/notes/rest';
        URLS.notesView = /*[[@{/notes/view}]]*/ '/notes/view';
        URLS.notesEdit = /*[[@{/notes/edit}]]*/ '/notes/edit';

        URLS.readersRest = /*[[@{/rest/readers/:id}]]*/ '/readers/rest';
        URLS.readersList = /*[[@{/readers/list}]]*/ '/readers/list';
        URLS.readersSearch = /*[[@{/readers/search}]]*/ '/readers/search';
        URLS.readersView = /*[[@{/readers/view}]]*/ '/readers/view';
        URLS.readersEdit = /*[[@{/readers/edit}]]*/ '/readers/edit';
        
        /*]]>*/
    </script>
</head>

<body ng-app="app" ng-cloak="" class="ng-cloak">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container" ng-controller="navigation">
      	<div class="navbar-header">
        	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            	<span class="sr-only">Toggle navigation</span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
          	</button>
          	<a class="navbar-brand" href="#/" title="MyBooks3">MyBooks3</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        	<ul class="nav navbar-nav navbar-right">		
				<li ng-show="currentReader"><a href="#/books/list">Books</a></li>
				<li ng-show="currentReader"><a href="#/profiles/view/{{currentReader.id}}">My Profile</a></li>
				<li ng-show="currentReader.systemRole == 'Admin'"><a href="#/readers/list">Admin</a></li>
				<li ng-show="!currentReader"><a href="#/login">Login</a></li>
				<li ng-show="!currentReader"><a href="#/register">Register</a></li>
				<li ng-show="currentReader"><a href="" ng-click="logout()">Logout</a></li>				
          	</ul>
        </div>
      </div>
    </nav>

	<div class="container">
		<br/>
		<div class="alert alert-success" ng-show="messageSuccess">{{messageSuccess}}</div>
		<div class="alert alert-danger" ng-show="messageError">{{messageError}}</div>
		
		<div ng-view=""></div>
	</div>
	
	<script th:src="@{/js/bundle.js}" src="../static/js/bundle.js"></script>
	<script th:src="@{/js/app.js}" src="../static/js/app.js"></script>
	<script th:src="@{/js/sharedServices.js}" src="../static/js/sharedServices.js"></script>
	<script th:src="@{/js/sharedDirectives.js}" src="../static/js/sharedDirectives.js"></script>
	<script th:src="@{/js/sharedControllers.js}" src="../static/js/sharedControllers.js"></script>
	<script th:src="@{/js/books/bookControllers.js}" src="../static/js/books/bookControllers.js"></script>
	<script th:src="@{/js/books/bookFactories.js}" src="../static/js/books/bookFactories.js"></script>
	<script th:src="@{/js/profiles/profileControllers.js}" src="../static/js/profiles/profileControllers.js"></script>
	<script th:src="@{/js/profiles/profileFactories.js}" src="../static/js/profiles/profileFactories.js"></script>
	<script th:src="@{/js/readers/readerControllers.js}" src="../static/js/readers/readerControllers.js"></script>
	<script th:src="@{/js/readers/readerFactories.js}" src="../static/js/readers/readerFactories.js"></script>
	<script th:src="@{/js/notes/noteControllers.js}" src="../static/js/notes/noteControllers.js"></script>
	<script th:src="@{/js/notes/noteServices.js}" src="../static/js/notes/noteServices.js"></script>

</body>
</html>
