<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" href="../img/favicon.ico" />
<title>My Books 3</title>
<link rel="stylesheet" href="../../../../../target/generated-resources/static/css/bundle.css" />
<link rel="stylesheet" href="../../static/css/custom.css" />
</head>

<body>

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> 
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="../home.html" title="MyBooks3">MyBooks3</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
        		<ul class="nav navbar-nav navbar-right">		
					<li><a href="./list.html">Books</a></li>
					<li><a href="../readers/view.html">My Profile</a></li>
					<li><a href="../readers/list.html">Admin</a></li>
					<li><a href="../login.html">Logout</a></li>				
          		</ul>
        	</div>
		</div>
	</nav>    
	
	<div class="container">

		<br/>
		
		<div th:fragment="content" class="container-form-style">
				
			<ol class="breadcrumb">
				<li><a href="../home.html" th:href="@{#/home}">Home</a></li>
				<li class="active">Books</li>
			</ol>
				
            <form name='bookForm' role="form" novalidate="" ng-submit="createBook()">
		            
		        <div class="row container-form-style">	
					<h2 class="sub-header pull-left">Create a New Book</h2> 
					<div class="btn-toolbar pull-right">
						<button type="submit" ng-disabled='bookForm.$invalid' class="btn btn-primary"><span class="glyphicon glyphicon-save"></span></button>
						<button type="reset" class="btn">Reset</button>
					</div>
				</div>
				
				<br/>
		            
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title" ng-model="book.title" required="" ng-minlength="2" />
					<span class='help-block' ng-show='bookForm.title.$error.required'>Title is required</span>
					<span class='help-block' ng-show='bookForm.title.$error.minlength'>Too short</span>                    
                </div>
                <div class="form-group">
                    <label for="author">Author</label>
                    <input type="text" class="form-control" id="author" name="author" ng-model="book.author"/>
                </div>
                <div class="form-group">
                    <label for="url">URL</label>
                    <input type="text" class="form-control" id="url" name="url" ng-model="book.url"/>
                </div>
                <div class="form-group">
                    <label for="genre">Genre</label>
                   	<select class="form-control" id="genre" name="genre" ng-model="book.genre" ng-options="genre as genre for genre in genres">
						<option value="">-- Select --</option>						
					</select>
                </div>                
                <div class="form-group">
                    <label for="rating">Rating</label>
                    <input type="text" class="form-control" id="rating" name="rating" ng-model="book.rating"/>
                </div>
                <div class="form-group">
                	<label for="startReadingDate">Start Reading Date</label>
       				<p class="input-group">
          				<input
          					type="text"
          					class="form-control"
          					id="startReadingDate"
          					name="startReadingDate" 
          					datepicker-popup="{{format}}" 
          					ng-model="book.startReadingDate" 
          					is-open="openedStartReadingDate" 
          				/>
          				<span class="input-group-btn">
            				<button type="button" class="btn btn-default" ng-click="openStartReadingDate($event)">
            					<i class="glyphicon glyphicon-calendar"></i>
            				</button>
          				</span>
       				</p>
  				</div>
                <div class="form-group">
                	<label for="endReadingDate">End Reading Date</label>
       				<p class="input-group">
          				<input 
          					type="text"
          					class="form-control"
          					id="endReadingDate"
          					name="endReadingDate" 
          					datepicker-popup="{{format}}" 
          					ng-model="book.endReadingDate" 
          					is-open="openedEndReadingDate" 
          				/>
          				<span class="input-group-btn">
            				<button type="button" class="btn btn-default" ng-click="openEndReadingDate($event)">
            					<i class="glyphicon glyphicon-calendar"></i>
            				</button>
          				</span>
       				</p>
   				</div>
                <div class="form-group">
                    <label for="review">Review</label>
                    <textarea class="form-control" id="review" name="review" ng-model="book.review">Review 1</textarea>
                </div>
            </form>
		</div>
		
	</div>

	<script src="../../../../../target/generated-resources/static/js/bundle.js"></script>
	<script src="../../static/js/app.js"></script>

</body>
</html>