<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" href="../img/favicon.ico" />
<title>My Books 3</title>
<link rel="stylesheet" href="../../../../../target/generated-resources/static/css/bundle.css" />
<link rel="stylesheet" href="../../static/css/custom.css" />
</head>

<body>

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> 
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/home.html" title="MyBooks3">MyBooks3</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
        		<ul class="nav navbar-nav navbar-right">		
					<li><a href="./list.html">Books</a></li>
					<li><a href="../readers/view.html">My Profile</a></li>
					<li><a href="../readers/list.html">Admin</a></li>
					<li><a href="../login.html">Logout</a></li>				
          		</ul>
        	</div>
		</div>
	</nav>    
	
	<div class="container">

			<div th:fragment="content" class="container-form-style">

				<br/>
			
				<ol class="breadcrumb">
					<li><a href="../home.html" th:href="@{#/home}">Home</a></li>
					<li class="active">Books</li>
				</ol>
				
				<div class="row container-form-style">	
					<h2 class="sub-header pull-left">Book Edit</h2> 
					<div class="btn-toolbar pull-right">
			             <a class="btn btn-default" ng-click="updateBook()">Save</a>
<!-- 								<button type="submit" class="btn btn-primary">Save</button> -->
						<button type="submit" class="btn">Delete</button>
					</div>
				</div>
				
				<hr/>

			    <div class="row">
			        <div class="col-xs-12">
			            <form class="form-horizontal">
			                <div class="form-group">
			                    <label for="title" class="col-xs-3">Title</label>
			
			                    <div class="col-xs-6">
			                        <input class="form-control" placeholder="Title" value="Title1" ng-model="book.title"/>
			                    </div>
			                </div>
			                <div class="form-group">
			                    <label for="Author" class="col-xs-3">Author</label>
			
			                    <div class="col-xs-6">
			                        <input class="form-control" placeholder="Author" value="Author1" ng-model="book.author"/>
			                    </div>
			                </div>
			                <div class="form-group">
			                    <label for="url" class="col-xs-3">URL</label>
			
			                    <div class="col-xs-6">
			                        <input class="form-control" placeholder="URL" value="url1" ng-model="book.url"/>
			                    </div>
			                </div>
			                
			                <div class="form-group">
			                    <label for="genre" class="col-xs-3">Genre</label>
			
			                    <div class="col-xs-6">
			                    	<select class="form-control" placeholder="Genre" ng-model="book.genre" ng-options="genre as genre for genre in genres">
										<option value="">-- Select --</option>		
										<option th:remove="all" value="">Comedy1</option>
										<option th:remove="all" value="">Drama1</option>
										<option th:remove="all" value="">Epic1</option>															
									</select>
			                    </div>
			                </div>  
			                
			                <div class="form-group">
			                    <label for="startReadingDate" class="col-xs-3">Start Reading Date</label>
			
			                    <div class="col-xs-6">
			                        <input class="form-control" placeholder="Start Reading Date" value="Start Reading Date 1"/>
			                    </div>
			                </div>
			                <div class="form-group">
			                    <label for="endReadingDate" class="col-xs-3">End Reading Date</label>
			
			                    <div class="col-xs-6">
			                        <input class="form-control" placeholder="End Reading Date" value="End Reading Date 1"/>
			                    </div>
			                </div>
			                <div class="form-group">
			                    <label for="rating" class="col-xs-3">Rating</label>
			
			                    <div class="col-xs-6">
			                        <input class="form-control" placeholder="Rating" value="Rating 1"/>
			                    </div>
			                </div>
			                <div class="form-group">
			                    <label for="Review" class="col-xs-3">Review</label>
			
			                    <div class="col-xs-6">
			                    	<textarea class="form-control" placeholder="Review">Review 1</textarea>
			                    </div>
			                </div>				                                
			                
			            </form>
			        </div>
			    </div>
			</div>
			


	</div>

	<script src="../../../../../target/generated-resources/static/js/bundle.js"></script>
	<script src="../../static/js/app.js"></script>

</body>
</html>
