<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" href="../img/favicon.ico" />
<title>My Books 3</title>
<link rel="stylesheet" href="../../../../../target/generated-resources/static/css/bundle.css" />
<link rel="stylesheet" href="../../static/css/custom.css" />
</head>

<body>

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> 
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="../home.html" title="MyBooks3">MyBooks3</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
        		<ul class="nav navbar-nav navbar-right">		
					<li><a href="./list.html">Books</a></li>
					<li><a href="../readers/view.html">My Profile</a></li>
					<li><a href="../readers/list.html">Admin</a></li>
					<li><a href="../login.html">Logout</a></li>				
          		</ul>
        	</div>
		</div>
	</nav>    
	
	<div class="container">
	
		<br/>

		<div th:fragment="content" class="container-form-style">
		
			<ol class="breadcrumb">
				<li><a href="../home.html" th:href="@{#/home}">Home</a></li>
				<li class="active">Books</li>
			</ol>
				
			<div class="row container-form-style">	
				<h2 class="sub-header pull-left">Books</h2> 
				<div class="btn-toolbar pull-right">
					<a href="./search.html" th:href="@{#/books/search}" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></a>
					<a href="./create.html" th:href="@{#/books/create}" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>
				</div>
			</div>
			
			<hr/>
		
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Title</th>
							<th>Author</th>
							<th>Genre</th>
<!-- 							<th>Action</th> -->
						</tr>
					</thead>
					<tbody th:remove="all-but-first">
						<tr ng-repeat="book in books" ng-click="showView(book.id)">
							<td th:text="'{{book.title}}'">title0</td>
							<td th:text="'{{book.author}}'">author0</td>
							<td th:text="'{{book.genre}}'">genre0</td>
<!-- 							<td><a href="#/books/edit/{{book.id}}">Edit</a> | <a -->
<!-- 								confirmed-click="deleteBook(book)" -->
<!-- 								ng-confirm-click="Are you sure?">Delete</a></td> -->
						</tr>
						<tr onclick="document.location = './view.html';">
							<td>title1</td>
							<td>author1</td>
							<td>genre1</td>
						</tr>
						<tr onclick="document.location = './view.html';">
							<td>title2</td>
							<td>author2</td>
							<td>genre2</td>
						</tr>
						<tr onclick="document.location = './view.html';">
							<td>title3</td>
							<td>author3</td>
							<td>genre3</td>
						</tr>
						<tr onclick="document.location = './view.html';">
							<td>title4</td>
							<td>author4</td>
							<td>genre4</td>
						</tr>						
					</tbody>
				</table>
			</div>
			
		</div>



	</div>

	<script src="../../../../../target/generated-resources/static/js/bundle.js"></script>
	<script src="../../static/js/app.js"></script>

</body>
</html>

