<div th:fragment="content">
	<h1>Sign Up</h1>
	<h4 class="muted">Fill in this form to register with us.</h4>
	<hr/>
	<form class="form-horizontal">
		<div class="control-group">
			<label class="control-label">First Name</label>
			<div class="controls">
				<input type="text" placeholder="First Name"/>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Last Name</label>
			<div class="controls">
				<input type="text" placeholder="Last Name"/>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Your Email</label>
			<div class="controls">
				<input type="text" placeholder="Email"/>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Mailing Address</label>
			<div class="controls">
				<textarea placeholder="Mailing Address"></textarea>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Password</label>
			<div class="controls">
				<input type="password" placeholder="Password"/>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Confirm Password</label>
			<div class="controls">
				<input type="password" placeholder="Confirm Password"/>
			</div>
		</div>
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">Sign Up</button>
			<button type="reset" class="btn">Reset</button>
		</div>
	</form>
</div>

