<div th:fragment="content">
	<h1>Sign Up</h1>
	<h4 class="muted">Fill in this form to register with us.</h4>
	<hr/>
	<div class="alert alert-danger" ng-show="error">There was a problem logging in. Please try again.</div>
	<form role="form" ng-submit="">
		<div class="form-group">
			<label for="firstName">First Name</label> 
			<input type="text" class="form-control" id="firstName" name="firstName" ng-model="register.firstName" />
		</div>		
		<div class="form-group">
			<label for="lastName">Last Name</label> 
			<input type="text" class="form-control" id="lastName" name="lastName" ng-model="register.lastName" />
		</div>		
		<div class="form-group">
			<label for="email">Your Email</label> 
			<input type="text" class="form-control" id="email" name="email" ng-model="register.email" />
		</div>
		<div class="form-group">
			<label for="mailingAddress">Mailing Address</label> 
			<textarea type="text" class="form-control" id="mailingAddress" name="mailingAddress" ng-model="register.mailingAddress"></textarea>
		</div>
		<div class="form-group">
			<label for="password">Password</label> 
			<input type="password" class="form-control" id="password" name="password" ng-model="register.password" />
		</div>
		<div class="form-group">
			<label for="confirmPassword">Confirm Password</label> 
			<input type="password" class="form-control" id="confirmPassword" name="confirmPassword" ng-model="register.confirmPassword" />
		</div>
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">Sign Up</button>
			<button type="reset" class="btn">Reset</button>
		</div>
	</form>
</div>

