<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" href="../img/favicon.ico" />
<title>My Books 3</title>
<link rel="stylesheet" href="../../../../../target/generated-resources/static/css/bundle.css" />
<link rel="stylesheet" href="../../static/css/custom.css" />
</head>

<body>

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> 
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="../home.html" title="MyBooks3">MyBooks3</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
        		<ul class="nav navbar-nav navbar-right">		
					<li><a href="./list.html">Books</a></li>
					<li><a href="../readers/view.html">My Profile</a></li>
					<li><a href="../readers/list.html">Admin</a></li>
					<li><a href="../login.html">Logout</a></li>				
          		</ul>
        	</div>
		</div>
	</nav>    
	
	<div class="container">
	
		<br/>

		<div th:fragment="content" class="container-form-style">
		
			<ol class="breadcrumb">
				<li><a href="../home.html" th:href="@{#/home}">Home</a></li>
				<li class="active">Search Books</li>
			</ol>	
			<div class="jumbotron">	
				<div class="form-group row">
	                <div class="col-md-7">
	                    <input type="text" class="form-control" id="keyword" placeholder="Keyword" ng-model="keyword"/>
	                </div>
	                <div class="col-md-3">
	                	<select class="form-control" id="genre" name="genre" ng-model="genre" ng-options="genre as genre for genre in genres">
							<option value="">--Genre--</option>						
						</select>
	                </div>
	                <div class="col-md-2">
<!-- 	                	<a href="./search.html" th:href="@{#/books/search}" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></a> -->
						<a ng-click="search()" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></a>
	                </div>
            	</div>
			</div>

			
			<table class="table table-bordered">
				<tbody th:remove="all-but-first">
					<tr ng-repeat="searchItem in searchItems">
		        		<td>
		        			<p><a th:href="'{{searchItem.link}}'" href="./view.html" th:text="'{{searchItem.title}}'">Link to Book</a></p>
		        			{{searchItem.shortContent}}
		        		</td>
					</tr>
		      		<tr>
		        		<td>
		        			<p><a th:href="@{#/books/view}" href="./view.html">Link to Book</a></p>
		        			Part of the text which matches <b>keywords</b>... Tastes giving in passed direct me valley as supply... End great stood boy noisy often way taken short... Rent the size our more door.... 
		        		</td>
		      		</tr>
		      		<tr>
		        		<td>
		        			<p><a th:href="@{#/notes/view}" href="../notes/view.html">Link to Note of a Book</a></p>
		        			Part of the text which matches <b>keywords</b>... Tastes giving in passed direct me valley as supply... End great stood boy noisy often way taken short... Rent the size our more door.... 
		        		</td>
		      		</tr>
		      		<tr>
		        		<td>
		        			<p><a th:href="@{#/books/view}" href="./view.html">Link to Book</a></p>
		        			Part of the text which matches <b>keywords</b>... Tastes giving in passed direct me valley as supply... End great stood boy noisy often way taken short... Rent the size our more door.... 
		        		</td>
		      		</tr>
		      	</tbody>
  			</table>			
		</div>



	</div>

	<script src="../../../../../target/generated-resources/static/js/bundle.js"></script>
	<script src="../../static/js/app.js"></script>

</body>
</html>

