<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" href="../img/favicon.ico" />
<title>My Books 3</title>
<link rel="stylesheet" href="../../../../../target/generated-resources/static/css/bundle.css" />
<link rel="stylesheet" href="../../static/css/custom.css" />
</head>

<body>

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> 
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/home.html" title="MyBooks3">MyBooks3</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
        		<ul class="nav navbar-nav navbar-right">		
					<li><a href="../books/list.html">Books</a></li>
					<li><a href="../readers/view.html">My Profile</a></li>
					<li><a href="../readers/list.html">Admin</a></li>
					<li><a href="../login.html">Logout</a></li>				
          		</ul>
        	</div>
		</div>
	</nav>    
	
	<div class="container">

		<br/>
		
		<div th:fragment="content" class="container-form-style">
	
			<ol class="breadcrumb">
				<li><a href="../home.html" th:href="@{#/home}">Home</a></li>
				<li><a href="../books/list.html" th:href="@{#/books/list}">Books</a></li>
				<li class="active">Note View</li>
			</ol>
			
			<div class="row container-form-style">	
				<h2 class="sub-header pull-left">Note Edit</h2> 
				<div class="btn-toolbar pull-right">
					<button type="submit" class="btn btn-primary">Save</button>
					<button type="submit" class="btn">Delete</button>
				</div>
			</div>
			
			<hr/>
	
		    <div class="row">
		        <div class="col-xs-12">
		            <form class="form-horizontal">
		                <div class="form-group">
		                    <label for="title" class="col-xs-3">Title</label>
		
		                    <div class="col-xs-6">
		                        <input class="form-control" placeholder="Title" value="Title1" />
		                    </div>
		                </div>
		                <div class="form-group">
		                    <label for="Content" class="col-xs-3">Content</label>
		
		                    <div class="col-xs-6">
		                    	<textarea class="form-control" placeholder="Content">Content 1</textarea>
		                    </div>
		                </div>
	
					</form>
		        </div>
		    </div>

		</div>

	</div>

	<script src="../../../../../target/generated-resources/static/js/bundle.js"></script>
	<script src="../../static/js/app.js"></script>

</body>
</html>